body,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Hiragino Sans GB", "PingFang", "Microsoft Yahei", "宋体", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

a:hover,
a:focus {
    cursor: pointer;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

label {
    font-weight: normal;
}
